.header-background {
    background-image: url('../public/galaxy.svg');
    background-position: center !important;
    filter: saturate(20%);
}

.content-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

/* About Us Section */
.about-us-section {
    text-align: center;
    padding: 30px 0 100px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.about-us-section::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0px;
    left: 0;
    background: linear-gradient(to left, transparent, #727272ab, transparent);
}

.about-us-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
    line-height: 1.2;
    display: inline-block;
}

.about-us-section h1 span {
    display: inline-block;
    transform: rotate(-4deg);
    padding: 7px 18px;
    font-size: 0.6em;
    background: linear-gradient(to right, #cabb12, rgb(148, 126, 48));
    border-radius: 5px;
}

.about-us-section p {
    font-size: 1.1em;
    max-width: 700px;
    margin: 0 auto;
    color: var(--text-color);
    opacity: 0.9;
}

.about-us-box {
    border: 2px solid var(--text-color);
    display: block;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 auto 30px;
    text-transform: uppercase;
    width: auto;

}

.our-vision-section {
    background-color: var(--background);
    padding: 60px 0;
    position: relative;
    overflow: hidden;
}

.our-vision-box {
    display: inline-block;
    background-color: #3f3f3f;
    color: var(--text-color);
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.hidee {
    display: none;
}

.vision-content {
    display: flex;
    flex-wrap: wrap;
    gap: 7%;
    align-items: stretch;
}

.vision-content .text-content {
    flex: 4;
}

.text-content li {
    list-style-type: disc;
    margin-left: 20px;
}

.text-content span {
    font-weight: bold;
    display: inline-block;
}

.vision-content .text-content p {
    font-size: 1.0em;
    color: #cccccc;
    margin-bottom: 15px;
}

.vision-content .image-content {
    flex: 2.7;
}

.vision-content .image-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .about-us-section h1 {
        font-size: 2.2em;
    }

    .hideee {
        display: none;
    }

    .hidee {
        display: block;
        width: 160px;
        text-align: center;
        margin: 40px auto;
    }

    .vision-content {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .text-content li{
        list-style-type: none;
    }

    .vision-content .text-content,
    .vision-content .image-content {
        min-width: unset;
        /* Remove min-width for stacking */
        width: 100%;
        /* Take full width when stacked */
    }

    .vision-content .image-content {
        order: -1;
        /* Move image above text on smaller screens if desired */
        margin-bottom: 30px;
        /* Add space below image */
    }
       
}

@media (max-width: 480px) {
    .about-us-section h1 {
        font-size: 1.8em;
    }

    .about-us-section p,
    .our-vision-section p {
        font-size: 0.9em;
    }
}


.blockchain {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: clamp(300px, 80%, 1000px);
    margin: 60px auto;
    gap: 40px;
    align-items: start;
}
.blockchain h2{
    margin-bottom: 30px;
}
.blockchain li{
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px){
    .blockchain {
            flex-direction: column;
            gap: 80px;
        }
}